@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0; }

@media (max-width: 768px) {
  main #sidebar {
    overflow-y: scroll !important; }
    main #sidebar ul {
      font-size: 14px !important; }
    main #sidebar .overlay {
      height: 120% !important;
      opacity: 0 !important; } }
main {
  height: auto;
  width: auto; }
  main #sidebar {
    height: 100%;
    position: fixed;
    width: 0px;
    z-index: 1;
    top: 0;
    left: -50;
    background-color: #6484F6;
    padding-left: -150px !important;
    overflow: hidden;
    overflow-y: scroll !important;
    transition: 0.6s;
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75); }
    main #sidebar .overlay {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("https://images.pexels.com/photos/258196/pexels-photo-258196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
      background-size: cover;
      background-position: center;
      opacity: 0.1; }
    main #sidebar .btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30px; }
    main #sidebar ul {
      list-style-type: none;
      padding-top: 10px;
      color: #fff;
      text-decoration: none;
      font-size: 22px;
      display: block;
      transition: 0.6s; }
      main #sidebar ul h5 {
        font-weight: bold; }
      main #sidebar ul li {
        padding-bottom: 10px; }
        main #sidebar ul li a {
          color: #F5F5FD; }
          main #sidebar ul li a:hover {
            background-color: #F5F5FD;
            color: #6484F6; }
  main #content {
    position: relative;
    height: 100% !important;
    width: 100vw;
    background-color: #F5F5FD;
    transition: 0.6s; }
    main #content .content-in .table {
      -webkit-box-shadow: 0px 0px 11px 0px #6484f6;
      -moz-box-shadow: 0px 0px 11px 0px #6484f6;
      box-shadow: 0px 0px 11px 0px #6484f6;
      background-color: #F5F5FD !important; }
      main #content .content-in .table h4 {
        color: #6484F6; }
      main #content .content-in .table .price {
        font-size: 30px; }
        main #content .content-in .table .price .dolar {
          color: green; }
    main #content nav {
      background-color: #F5F5FD !important; }
      main #content nav .dropdown-menu i {
        color: #6484F6; }
      main #content nav .nav-link {
        color: #6484F6;
        font-weight: bold; }
        main #content nav .nav-link:hover {
          color: #000; }
      main #content nav .menuAc {
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid #6484F6;
        border-radius: 5px;
        padding: 5px; }
        main #content nav .menuAc i {
          font-size: 25px !important; }
      main #content nav .form-inline .btn {
        color: #6484F6;
        border: 2px solid #6484F6;
        background-color: #fff; }
        main #content nav .form-inline .btn:hover {
          background-color: #6484F6;
          color: white; }

/*# sourceMappingURL=style.css.map */
