$color1: #6484F6;
$color2: #F5F5FD;
$white: #fff;
$black: #000;
$yazi1: 'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    main {
        #sidebar {
            overflow-y: scroll !important;
            ul {
                font-size: 14px !important;
            }
            .overlay {
                height: 120% !important;
                opacity: 0 !important;
            }
        }
    }
}

main {
    height: auto;
    width: auto;
    #sidebar {
        height: 100%;
        position: fixed;
        width: 0px;
        z-index: 1;
        top: 0;
        left: -50;
        background-color: $color1;
        padding-left: -150px !important;
        overflow-y: auto !important;
        transition: 0.6s;
        -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
        background-image: linear-gradient(180deg, rgba(100, 132, 252, 0.7) 0%, rgba(100, 132, 252, 0.8) 100%), url("https://images.pexels.com/photos/258196/pexels-photo-258196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
        .btn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 30px;
        }
        ul {
            list-style-type: none;
            padding-top: 10px;
            color: $white;
            text-decoration: none;
            font-size: 20px;
            display: block;
            transition: 0.6s;
            h5 {
                font-weight: bold;
            }
            li {
                padding-bottom: 10px;
                a {
                    color: $color2;
                    &:hover {
                        background-color: $color2;
                        color: $color1;
                    }
                }
            }
        }
    }
    #content {
        position: relative;
        height: 100% !important;
        width: 100vw;
        background-color: $color2;
        transition: 0.6s;
        .content-in {
            .table {
                -webkit-box-shadow: 0px 0px 11px 0px rgba(100, 132, 246, 1);
                -moz-box-shadow: 0px 0px 11px 0px rgba(100, 132, 246, 1);
                box-shadow: 0px 0px 11px 0px rgba(100, 132, 246, 1);
                background-color: $color2 !important;
                h4 {
                    color: $color1;
                }
                .price {
                    font-size: 30px;
                    .dolar {
                        color: green;
                    }
                }
            }
        }
        nav {
            background-color: $color2 !important;
            .dropdown-menu {
                i {
                    color: $color1;
                }
            }
            .nav-link {
                color: $color1;
                font-weight: bold;
                &:hover {
                    color: $black;
                }
            }
            .menuAc {
                position: relative;
                top: 0;
                left: 0;
                border: 2px solid $color1;
                border-radius: 5px;
                padding: 5px;
                i {
                    font-size: 25px !important;
                }
            }
            .form-inline {
                .btn {
                    color: $color1;
                    border: 2px solid $color1;
                    background-color: $white;
                    &:hover {
                        background-color: $color1;
                        color: white;
                    }
                }
            }
        }
    }
}